In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"D:\DOWNLOAD/unicorns-till-sep-2022.csv")

In [4]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [5]:
df.count

<bound method DataFrame.count of                   Company Valuation ($B) Date Joined        Country  \
0               ByteDance           $140    4/7/2017          China
1                  SpaceX           $127   12/1/2012  United States
2                   SHEIN           $100    7/3/2018          China
3                  Stripe            $95   1/23/2014  United States
4                   Canva            $40    1/8/2018      Australia
...                   ...            ...         ...            ...
1181          LeadSquared             $1   6/21/2022          India
1182            FourKites             $1   6/21/2022  United States
1183          VulcanForms             $1    7/5/2022  United States
1184          SingleStore             $1   7/12/2022  United States
1185  Unstoppable Domains             $1   7/27/2022  United States

              City                              Industry  \
0           Beijing              Artificial intelligence
1         Hawthorne                                Other
2          Shenzhen      E-commerce & direct-to-consumer
3     San Francisco                              Fintech
4       Surry Hills         Internet software & services
...             ...                                  ...
1181      Bengaluru         Internet software & services
1182        Chicago  Supply chain, logistics, & delivery
1183     Burlington  Supply chain, logistics, & delivery
1184  San Francisco          Data management & analytics
1185      Las Vegas         Internet software & services

                                              Investors
0     Sequoia Capital China, SIG Asia Investments, S...
1     Founders Fund, Draper Fisher Jurvetson, Rothen...
2     Tiger Global Management, Sequoia Capital China...
3           Khosla Ventures, LowercaseCapital, capitalG
4     Sequoia Capital China, Blackbird Ventures, Mat...
...                                                 ...
1181  Gaja Capital Partners, Stakeboat Capital, West...
1182  Hyde Park Venture Partners, Bain Capital Ventu...
1183  Eclipse Ventures, D1 Capital Partners, Industr...
1184            Google Ventures, Accel, Data Collective
1185              Boost VC, Draper Associates, Gaingels

[1186 rows x 7 columns]>

In [7]:
df.value_counts

<bound method DataFrame.value_counts of                   Company Valuation ($B) Date Joined        Country  \
0               ByteDance           $140    4/7/2017          China
1                  SpaceX           $127   12/1/2012  United States
2                   SHEIN           $100    7/3/2018          China
3                  Stripe            $95   1/23/2014  United States
4                   Canva            $40    1/8/2018      Australia
...                   ...            ...         ...            ...
1181          LeadSquared             $1   6/21/2022          India
1182            FourKites             $1   6/21/2022  United States
1183          VulcanForms             $1    7/5/2022  United States
1184          SingleStore             $1   7/12/2022  United States
1185  Unstoppable Domains             $1   7/27/2022  United States

              City                              Industry  \
0           Beijing              Artificial intelligence
1         Hawthorne                                Other
2          Shenzhen      E-commerce & direct-to-consumer
3     San Francisco                              Fintech
4       Surry Hills         Internet software & services
...             ...                                  ...
1181      Bengaluru         Internet software & services
1182        Chicago  Supply chain, logistics, & delivery
1183     Burlington  Supply chain, logistics, & delivery
1184  San Francisco          Data management & analytics
1185      Las Vegas         Internet software & services

                                              Investors
0     Sequoia Capital China, SIG Asia Investments, S...
1     Founders Fund, Draper Fisher Jurvetson, Rothen...
2     Tiger Global Management, Sequoia Capital China...
3           Khosla Ventures, LowercaseCapital, capitalG
4     Sequoia Capital China, Blackbird Ventures, Mat...
...                                                 ...
1181  Gaja Capital Partners, Stakeboat Capital, West...
1182  Hyde Park Venture Partners, Bain Capital Ventu...
1183  Eclipse Ventures, D1 Capital Partners, Industr...
1184            Google Ventures, Accel, Data Collective
1185              Boost VC, Draper Associates, Gaingels

[1186 rows x 7 columns]>

In [8]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [9]:
df.isnull().sum()

Company            0
Valuation ($B)     0
Date Joined        0
Country            0
City               0
Industry           0
Investors         18
dtype: int64

In [12]:
df.iloc[:5]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [13]:
df.head(-5)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1176,Glean,$1,5/18/2022,United States,Palo Alto,Internet software & services,"General Catalyst, Kleiner Perkins Caufield & B..."
1177,CareBridge,$1,6/8/2022,United States,Nashville,Health,"Bain Capital Ventures, Splunk Ventures, Cisco ..."
1178,Immuta,$1,6/8/2022,United States,Boston,Data management & analytics,"DFJ Growth Fund, Dell Technologies Capital, Te..."
1179,JupiterOne,$1,6/2/2022,United States,Morrisville,Cybersecurity,"Bain Capital Ventures, Splunk Ventures, Cisco ..."
1180,Vayyar,$1,6/6/2022,Israel,Yehud,Hardware,"Battery Ventures, Bessemer Venture Partners, M..."

In [14]:
df.tail(-5)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
5,Checkout.com,$40,5/2/2019,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST..."
6,Instacart,$39,12/30/2014,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By..."
7,Databricks,$38,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates..."
8,Revolut,$33,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital"
9,Epic Games,$31.50,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures"
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [15]:
df.describe()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
count,1186,1186,1186,1186,1186,1186,1168
unique,1183,222,695,48,286,34,1152
top,Bolt,$1,7/13/2021,United States,San Francisco,Fintech,Sequoia Capital
freq,2,271,9,636,168,239,3

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   object
 3   Country         1186 non-null   object
 4   City            1186 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1168 non-null   object
dtypes: object(7)
memory usage: 65.0+ KB

In [17]:
df1=pd.read_csv("D:\DOWNLOAD/unicorns-till-sep-2022.csv")

In [18]:
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [19]:
df1.iloc[1:5]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [21]:
from datetime import datetime
a="tuesday,November 29,2022"
a1=datetime.strptime(a,'%A,%B %d,%Y')
a1

datetime.datetime(2022, 11, 29, 0, 0)

In [22]:
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [23]:
#1) Create a DataFrame from dict of ndarrays
a ={'Runs':[99,55,14],'Wickets':[5,2,4]}
#How many rows and columns are there ?

In [24]:
pd.DataFrame(a)

   Runs  Wickets
0    99        5
1    55        2
2    14        4

In [25]:
#2) What will be the output of the following code?
import pandas as pd
pd.Series([3,10,32], index= ['w','x','y','z'])

ValueError: Length of values (3) does not match length of index (4)

In [26]:
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [27]:
df1.isnull().sum()

Company            0
Valuation ($B)     0
Date Joined        0
Country            0
City               0
Industry           0
Investors         18
dtype: int64

4) How do you replace missing values in a column?
None of the above
replace with median
replace with mean
replace with any random integer value

In [28]:
#5) How many companies are there which become unicorns in 2017?

In [29]:
df1.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [31]:
df1["Date Joined"]==2017.sum()

SyntaxError: invalid syntax (3978089803.py, line 1)

In [33]:
df1["Date Joined"]==pd.Timestamp(2017,01,01)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (408304250.py, line 1)

In [34]:
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [35]:
df1["Date Joined"]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3284998960.py, line 1)

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   object
 3   Country         1186 non-null   object
 4   City            1186 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1168 non-null   object
dtypes: object(7)
memory usage: 65.0+ KB

In [37]:
df1.describe()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
count,1186,1186,1186,1186,1186,1186,1168
unique,1183,222,695,48,286,34,1152
top,Bolt,$1,7/13/2021,United States,San Francisco,Fintech,Sequoia Capital
freq,2,271,9,636,168,239,3

In [38]:
df1["Valuation ($B)"]

0       $140
1       $127
2       $100
3        $95
4        $40
        ...
1181      $1
1182      $1
1183      $1
1184      $1
1185      $1
Name: Valuation ($B), Length: 1186, dtype: object

In [39]:
#7) What are the min,max and mean valuation(In billion dollars) of the companies present in the dataset?
df1["Valuation ($B)"].min()

'$1'

In [40]:
df1["Valuation ($B)"].max()

'$95'

In [41]:
df1["Valuation ($B)"].mean()

TypeError: Could not convert $140$127$100$95$40$40$39$38$33$31.50$32$27$25$22$20$20$17.50$15.50$15$15$15$15$15$14$13.50$13.30$13$13$12.60$12.59$12.30$12$12$12$12$12$12$11.80$11.70$11.40$11.25$11.10$11$10.20$10.88$10.70$10$10$10$10$10$10$10$10$10$10$9.50$9.50$9.28$9.23$9.20$9.08$9$9$9$8.75$8.70$8.60$8.60$8.60$8.50$8.50$8.50$8.40$8.30$8.30$8.10$8.10$8$8$8$8$7.83$7.60$7.75$7.50$7.50$7.50$7.40$7.30$7.25$7.25$7.25$7.10$7$7$7$6.80$6.80$6.70$6.60$6.51$6.50$6.50$7.50$6.40$6.30$6.28$6.20$6.10$6.10$6$6$6$6$5.20$5.99$5.78$5.77$5.70$5.70$5.70$5.70$5.70$5.70$5.60$5.60$5.60$5.36$5.25$5.25$5.10$5.10$5.05$5$5$5.50$5.50$5.48$5$5$5$5$5$5$5$5$5$5$5$5$5$5$5$5$5$4.90$4.80$4.80$4.80$4.73$4.70$4.70$4.70$4.60$5.85$4.60$4.60$4.60$4.58$4.53$4.50$4.50$4.50$4.58$4.50$4.50$4.50$4.40$4.40$4.40$4.30$4.30$4.20$4.25$4.20$4.20$4.20$4.15$4.10$4.11$4.10$4$4.01$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$3.92$3.80$3.80$3.80$3.80$3.75$3.75$3.70$3.70$3.70$3.70$3.70$3.70$3.70$3.70$3.70$3.66$3.60$3.60$3.60$3.60$3.60$3.52$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.44$3.40$3.40$3.35$3.35$3.35$3.34$3.31$3.30$3.30$3.30$3.30$3.30$3.25$3.24$3.21$3.20$3.20$3.20$3.20$3.20$3.20$3.20$3.20$3.20$3.15$3.10$3.10$3.10$3$3$3$3$3$3$3$3$3.20$3$3$3$3$3$3$3$3$3$3$3$3$3.10$3$3$3$3$3$3.30$3$3$3$3$3$3$3$3$2.92$2.92$2.90$2.90$2.85$2.85$2.85$2.85$2.80$2.80$2.77$2.75$2.75$2.75$2.74$3.95$2.70$2.70$2.70$2.70$2.70$2.66$2.60$2.62$2.60$2.60$2.60$2.60$2$2.62$2.60$2.55$2.59$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.68$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.45$2.45$2.45$2.44$2.41$2.41$2.41$2.40$2.40$2.40$2.40$2.40$2.40$2.40$2.40$2.40$2.62$2.62$2.35$2.35$2.34$2.32$2.31$2.30$2.85$2.30$2.30$2.30$2.30$2.27$2.25$2.25$2.25$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.19$2.19$2.18$2.17$2.17$2.17$2$2.15$2.15$2.10$2.10$2.10$2.10$2.10$2.10$2.10$2.10$2.10$2$2$2$2$2$2$2$1$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2.70$2.10$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$8$2$2$2$2$2$2$2$2$2$2.25$2$2$2$2$2$2$2$1.93$1.98$1.95$1.95$1.90$1.90$1.90$1.90$1.90$1.90$1.94$1.94$1.90$1.90$1.87$1.85$1.83$1.85$1.80$1.80$1.80$1.80$1.80$1.80$1.79$1.78$1.75$1.75$1.75$1.80$1.73$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.69$1.60$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.65$1.65$1.62$1.62$1.70$1.61$1.65$1.60$1.60$1.60$1.60$1.60$2.60$1.60$1.60$1.60$1.60$1.60$1.36$1.36$1.50$1.60$1.60$1.60$1.70$1.60$1.60$1.60$1.60$1.60$1.60$1.60$1.60$1.59$1.57$1.55$1.55$1.55$1.55$1.53$1.52$1.52$1.51$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$2$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.49$1.48$1.48$1.46$1.45$1.45$1.45$1.45$1.45$1.45$1.44$1.43$1.43$1.42$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.38$1.38$1.36$1.35$1.35$1.35$1.35$1.35$1.34$1.34$1.33$1.33$1.32$1.32$1.32$1.32$1.31$1.31$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.28$1.28$1.28$1.27$1.26$1.26$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.24$1.24$1.24$1.23$1.23$1.23$1.22$1.22$1.22$1.22$1.20$1.20$1.20$1.65$1.20$1.20$1.20$1.20$1.20$1.20$1$1.30$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.40$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.15$1.19$1.19$1.18$1.17$1.17$1.17$1.16$1.16$1.15$1.15$1.15$1.15$1.15$1.15$1.12$1.13$1.12$1.12$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.08$1.08$1.08$1.07$1.07$1.07$1.07$1.07$1.05$1.05$1.05$1.05$1.05$1.05$1.05$1.04$1.03$1.02$1.01$1.01$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$3$1$1$1$1$1$1$1$1$1.07$1.70$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.50$1$1$1.10$1$1$1$1.73$1$1$1$1$1.05$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.06$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.20$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.10$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1 to numeric

In [42]:
df1.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [43]:
df1.Industry=="Fintech"

0       False
1       False
2       False
3        True
4       False
        ...
1181    False
1182    False
1183    False
1184    False
1185    False
Name: Industry, Length: 1186, dtype: bool

In [45]:
#8) How many companies belong to the fintech industry?
a2=df1.Industry=="Fintech"

In [46]:
a2.sum()

239

In [48]:
df1["Valuation ($B)"].to_numeric().max()

AttributeError: 'Series' object has no attribute 'to_numeric'

In [ ]:
#9) How many companies are from China?

In [49]:
a2=df1.Industry=="China"

In [50]:
a2.sum()

0

In [51]:
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [52]:
a3=df1.Country=="China"

In [53]:
a3.sum()

174

In [57]:
df1["Valuation ($B)"].sort_values()

1185       $1
1006       $1
1005       $1
1004       $1
1003       $1
        ...
59      $9.23
58      $9.28
57      $9.50
56      $9.50
3         $95
Name: Valuation ($B), Length: 1186, dtype: object

In [58]:
#10) Which is the fourth largest company by valuation?
df1["Valuation ($B)"].sort_values(ascending=False)

3         $95
56      $9.50
57      $9.50
58      $9.28
59      $9.23
        ...
1005       $1
1006       $1
1007       $1
1008       $1
1185       $1
Name: Valuation ($B), Length: 1186, dtype: object

In [59]:
df1.loc[df1["Valuation ($B)"].sort_values(ascending=False)]

KeyError: "None of [Index(['$95', '$9.50', '$9.50', '$9.28', '$9.23', '$9.20', '$9.08', '$9', '$9',\n       '$9',\n       ...\n       '$1', '$1', '$1', '$1', '$1', '$1', '$1', '$1', '$1', '$1'],\n      dtype='object', length=1186)] are in the [index]"

In [60]:
df1.loc[58]

Company                                                      HEYTEA
Valuation ($B)                                                $9.28
Date Joined                                                7/1/2019
Country                                                       China
City                                                       Shenzhen
Industry                                                      Other
Investors         Sequoia Capital China, Tencent Investment, BA ...
Name: 58, dtype: object

In [61]:
df1.groupby("Company")

In [62]:
df1.groupby("Company").sum()

,Valuation ($B),Date Joined,Country,City,Industry,Investors
Company,,,,,,
0x,$1.05,4/26/2022,United States,San Francisco,Fintech,"Jump Capital, Pantera Capital, Greylock Partners"
1047 Games,$1.50,9/14/2021,United States,Zephyr Cove,Internet software & services,"VGames, Lakestar, Galaxy Interactive"
1KMXC,$1,8/30/2021,China,Hangzhou,Hardware,"Goldman Sachs Asset Management, SDP Investment..."
1Password,$6.80,7/8/2021,Canada,Toronto,Cybersecurity,"Slack Fund, Accel, Skip Capital"
4Paradigm,$2,12/19/2018,China,Beijing,Artificial intelligence,"Sequoia Capital China, China Construction Bank..."
...,...,...,...,...,...,...
reddit,$10,7/31/2017,United States,San Francisco,Internet software & services,"Y Combinator, Sequoia Capital, Coatue Management"
solarisBank,$1.65,7/13/2021,Germany,Berlin,Fintech,"Yabeo Capital, SBI Investment, Vulcan Capital"
stori,$1.20,7/15/2022,Mexico,Juarez,Fintech,"Vision Plus Capital, \tSource Code Capital, Li..."
thatgamecompany,$1.94,3/3/2022,United States,Los Angeles,Internet software & services,"Benchmark, Sequoia Capital, TPG Capital"
wefox,$4.50,3/5/2019,Germany,Berlin,Fintech,"Salesforce Ventures, Seedcamp, OMERS Ventures"

In [64]:
df1.groupby("Company").sum().sort_values("Valuation ($B)",ascending=False)

,Valuation ($B),Date Joined,Country,City,Industry,Investors
Company,,,,,,
Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
OutSystems,$9.50,6/5/2018,United States,Boston,Internet software & services,"KKR, ES Ventures, North Bridge Growth Equity"
ServiceTitan,$9.50,11/14/2018,United States,Glendale,Internet software & services,"Bessemer Venture Partners, ICONIQ Capital, Bat..."
HEYTEA,$9.28,7/1/2019,China,Shenzhen,Other,"Sequoia Capital China, Tencent Investment, BA ..."
N26,$9.23,1/10/2019,Germany,Berlin,Fintech,"Redalpine Venture Partners, Earlybird Venture ..."
...,...,...,...,...,...,...
Flash Express,$1,2/1/2021,Thailand,Bangkok,"Supply chain, logistics, & delivery","SCB 10X, Krungsri Finnovate, eWTP Capital"
Tresata,$1,10/10/2018,United States,Charlotte,Fintech,GCP Capital Partners
TrialSpark,$1,9/30/2021,United States,New York,Health,"Sequoia Capital, Thrive Capital, Sound Ventures"
Fiture,$1,4/14/2021,China,Chengdu,Health,"Bertelsmann Asia Investments, Sequoia Capital ..."
Orchard,$1,9/9/2021,United States,New York,Fintech,"Accomplice, Juxtapose, FirstMark Capital"

In [65]:
df1.groupby("Company").sum().sort_values("Valuation ($B)",ascending=False).head(6)

,Valuation ($B),Date Joined,Country,City,Industry,Investors
Company,,,,,,
Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
OutSystems,$9.50,6/5/2018,United States,Boston,Internet software & services,"KKR, ES Ventures, North Bridge Growth Equity"
ServiceTitan,$9.50,11/14/2018,United States,Glendale,Internet software & services,"Bessemer Venture Partners, ICONIQ Capital, Bat..."
HEYTEA,$9.28,7/1/2019,China,Shenzhen,Other,"Sequoia Capital China, Tencent Investment, BA ..."
N26,$9.23,1/10/2019,Germany,Berlin,Fintech,"Redalpine Venture Partners, Earlybird Venture ..."
Klaviyo,$9.20,11/17/2020,United States,Boston,Internet software & services,"Summit Partners, Accel, Astral Capital"

In [76]:
df1.groupby("Company").sum().sort_values("Valuation ($B)",ascending=False).head(6)

              Valuation ($B)
Company
ByteDance              140.0
SpaceX                 127.0
SHEIN                  100.0
Stripe                  95.0
Canva                   40.0
Checkout.com            40.0

In [66]:
df1["Valuation ($B)"].sort_values(ascending=False)

3         $95
56      $9.50
57      $9.50
58      $9.28
59      $9.23
        ...
1005       $1
1006       $1
1007       $1
1008       $1
1185       $1
Name: Valuation ($B), Length: 1186, dtype: object

In [67]:
df1["Valuation ($B)"]=df1["Valuation ($B)"].replace('\$','',regex=True)

In [68]:
df1["Valuation ($B)"]=pd.to_numeric(df1["Valuation ($B)"])

In [69]:
df1["Valuation ($B)"].mean()

3.2512816188870057

In [70]:
#11) How many unicorns does India have?

In [71]:
df1.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [72]:
df1[df1["Country"]=="India"]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
13,BYJU's,22.0,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S..."
45,Swiggy,10.7,6/21/2018,India,Bengaluru,"Supply chain, logistics, & delivery","Accel India, SAIF Partners, Norwest Venture Pa..."
64,OYO Rooms,9.0,9/25/2018,India,Gurugram,Travel,"SoftBank Group, Sequoia Capital India,Lightspe..."
78,Dream11,8.0,4/9/2019,India,Mumbai,Internet software & services,"Kaalari Capital, Tencent Holdings, Steadview C..."
86,Razorpay,7.5,10/11/2020,India,Bengaluru,Fintech,"Sequoia Capital India, Tiger Global Management..."
...,...,...,...,...,...,...,...
1134,Darwinbox,1.0,1/25/2022,India,Hyderabad,Internet software & services,"Lightspeed India Partners, Sequoia Capital Ind..."
1145,Hasura,1.0,2/22/2022,India,Bengaluru,Internet software & services,"Nexus Venture Partners, Vertex Ventures, STRIVE"
1154,Amagi,1.0,3/16/2022,India,Bengaluru,Internet software & services,"Mayfield, Accel, Norwest Venture Partners"
1171,Open,1.0,5/2/2022,India,Bengaluru,Fintech,"3one4 Capital Partners, Tiger Global Managemen..."
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."

In [73]:
#12) How many Indian startups will become unicorns in 2022?

In [75]:
df1.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [77]:
df2=df1[pd.DateTimeIndex(df1["Date Joined"]).year==2022]

AttributeError: module 'pandas' has no attribute 'DateTimeIndex'

In [78]:
pd.DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [81]:
from pandas import DateTimeIndex

ImportError: cannot import name 'DateTimeIndex' from 'pandas' (C:\ProgramData\Anaconda3\lib\site-packages\pandas\__init__.py)

In [82]:
df2=df1[pd.DatetimeIndex(df1["Date Joined"]).year==2022]

In [83]:
df2

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
16,Miro,17.5,1/5/2022,United States,San Francisco,Internet software & services,"Accel, AltaIR Capital, Technology Crossover Ve..."
55,KuCoin,10.0,5/10/2022,Seychelles,Victoria,Fintech,"IDG Capital, Matrix Partners China, Jump Crypto"
123,RELEX,5.7,2/17/2022,Finland,Helsinki,"Supply chain, logistics, & delivery","Blackstone, Technology Crossover Ventures, Sum..."
124,The Boring Company,5.7,4/20/2022,United States,Pflugerville,Other,"VY Capital, 8VC, Craft Ventures"
149,Qonto,5.0,1/11/2022,France,Paris,Fintech,"Alven Capital, Valar Ventures, Tencent Holdings"
...,...,...,...,...,...,...,...
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,1.0,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,1.0,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,1.0,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,1.0,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [84]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [85]:
df.replace("$","")

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [89]:
df["Valuation ($B)"].replace("$","")

0       $140
1       $127
2       $100
3        $95
4        $40
        ...
1181      $1
1182      $1
1183      $1
1184      $1
1185      $1
Name: Valuation ($B), Length: 1186, dtype: object

In [91]:
df["Valuation ($B)"].replace("$","")

0       $140
1       $127
2       $100
3        $95
4        $40
        ...
1181      $1
1182      $1
1183      $1
1184      $1
1185      $1
Name: Valuation ($B), Length: 1186, dtype: object

In [92]:
df["Valuation ($B)"].replace("\$","")

0       $140
1       $127
2       $100
3        $95
4        $40
        ...
1181      $1
1182      $1
1183      $1
1184      $1
1185      $1
Name: Valuation ($B), Length: 1186, dtype: object

In [93]:
df["Valuation ($B)"].replace("\$","",regex=True)

0       140
1       127
2       100
3        95
4        40
       ...
1181      1
1182      1
1183      1
1184      1
1185      1
Name: Valuation ($B), Length: 1186, dtype: object

In [94]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [95]:
df["Valuation ($B)"]=df["Valuation ($B)"].replace("\$","")

In [96]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [97]:
df["Valuation ($B)"].replace("\$","",regex=True)

0       140
1       127
2       100
3        95
4        40
       ...
1181      1
1182      1
1183      1
1184      1
1185      1
Name: Valuation ($B), Length: 1186, dtype: object

In [98]:
df["Date Joined"].DatetimeIndex()

AttributeError: 'Series' object has no attribute 'DatetimeIndex'

In [ ]:
df2=df1[pd.DatetimeIndex(df1["Date Joined"]).year==2022]

In [ ]:
pd.DatetimeIndex(df1["Date Joined"]).year==2022

In [99]:
pd.DatetimeIndex(df1["Date Joined"])

DatetimeIndex(['2017-04-07', '2012-12-01', '2018-07-03', '2014-01-23',
               '2018-01-08', '2019-05-02', '2014-12-30', '2019-02-05',
               '2018-04-26', '2018-10-26',
               ...
               '2022-05-18', '2022-06-08', '2022-06-08', '2022-06-02',
               '2022-06-06', '2022-06-21', '2022-06-21', '2022-07-05',
               '2022-07-12', '2022-07-27'],
              dtype='datetime64[ns]', name='Date Joined', length=1186, freq=None)

In [100]:
df1["Date Joined"]

0        4/7/2017
1       12/1/2012
2        7/3/2018
3       1/23/2014
4        1/8/2018
          ...
1181    6/21/2022
1182    6/21/2022
1183     7/5/2022
1184    7/12/2022
1185    7/27/2022
Name: Date Joined, Length: 1186, dtype: object

In [101]:
pd.DatetimeIndex(df1["Date Joined"])

DatetimeIndex(['2017-04-07', '2012-12-01', '2018-07-03', '2014-01-23',
               '2018-01-08', '2019-05-02', '2014-12-30', '2019-02-05',
               '2018-04-26', '2018-10-26',
               ...
               '2022-05-18', '2022-06-08', '2022-06-08', '2022-06-02',
               '2022-06-06', '2022-06-21', '2022-06-21', '2022-07-05',
               '2022-07-12', '2022-07-27'],
              dtype='datetime64[ns]', name='Date Joined', length=1186, freq=None)

In [102]:
pd.DatetimeIndex(df1["Date Joined"]).year

Int64Index([2017, 2012, 2018, 2014, 2018, 2019, 2014, 2019, 2018, 2018,
            ...
            2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
           dtype='int64', name='Date Joined', length=1186)

In [103]:
pd.DatetimeIndex(df1["Date Joined"]).month

Int64Index([ 4, 12,  7,  1,  1,  5, 12,  2,  4, 10,
            ...
             5,  6,  6,  6,  6,  6,  6,  7,  7,  7],
           dtype='int64', name='Date Joined', length=1186)

In [104]:
pd.DatetimeIndex(df1["Date Joined"]).year

Int64Index([2017, 2012, 2018, 2014, 2018, 2019, 2014, 2019, 2018, 2018,
            ...
            2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
           dtype='int64', name='Date Joined', length=1186)

In [105]:
pd.DatetimeIndex(df1["Date Joined"]).date

array([datetime.date(2017, 4, 7), datetime.date(2012, 12, 1),
       datetime.date(2018, 7, 3), ..., datetime.date(2022, 7, 5),
       datetime.date(2022, 7, 12), datetime.date(2022, 7, 27)],
      dtype=object)

In [106]:
pd.DatetimeIndex(df1["Date Joined"]).day

Int64Index([ 7,  1,  3, 23,  8,  2, 30,  5, 26, 26,
            ...
            18,  8,  8,  2,  6, 21, 21,  5, 12, 27],
           dtype='int64', name='Date Joined', length=1186)

In [107]:
pd.DatetimeIndex(df1["Date Joined"]).dayofyear

Int64Index([ 97, 336, 184,  23,   8, 122, 364,  36, 116, 299,
            ...
            138, 159, 159, 153, 157, 172, 172, 186, 193, 208],
           dtype='int64', name='Date Joined', length=1186)

In [109]:
pd.DatetimeIndex(df1["Date Joined"]).day_of_year

Int64Index([ 97, 336, 184,  23,   8, 122, 364,  36, 116, 299,
            ...
            138, 159, 159, 153, 157, 172, 172, 186, 193, 208],
           dtype='int64', name='Date Joined', length=1186)

In [112]:
pd.DatetimeIndex(df1["Date Joined"]).day_of_year[1]

336

In [110]:
pd.DatetimeIndex(df1["Date Joined"]).weekofyear

C:\Users\ss\AppData\Local\Temp\ipykernel_10968\2152390147.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  pd.DatetimeIndex(df1["Date Joined"]).weekofyear

Int64Index([14, 48, 27,  4,  2, 18,  1,  6, 17, 43,
            ...
            20, 23, 23, 22, 23, 25, 25, 27, 28, 30],
           dtype='int64', name='Date Joined', length=1186)

In [111]:
pd.DatetimeIndex(df1["Date Joined"]).week

C:\Users\ss\AppData\Local\Temp\ipykernel_10968\1399635210.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  pd.DatetimeIndex(df1["Date Joined"]).week

Int64Index([14, 48, 27,  4,  2, 18,  1,  6, 17, 43,
            ...
            20, 23, 23, 22, 23, 25, 25, 27, 28, 30],
           dtype='int64', name='Date Joined', length=1186)

In [113]:
df2=df1[pd.DatetimeIndex(df1["Date Joined"]).year==2022]

In [114]:
df2

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
16,Miro,17.5,1/5/2022,United States,San Francisco,Internet software & services,"Accel, AltaIR Capital, Technology Crossover Ve..."
55,KuCoin,10.0,5/10/2022,Seychelles,Victoria,Fintech,"IDG Capital, Matrix Partners China, Jump Crypto"
123,RELEX,5.7,2/17/2022,Finland,Helsinki,"Supply chain, logistics, & delivery","Blackstone, Technology Crossover Ventures, Sum..."
124,The Boring Company,5.7,4/20/2022,United States,Pflugerville,Other,"VY Capital, 8VC, Craft Ventures"
149,Qonto,5.0,1/11/2022,France,Paris,Fintech,"Alven Capital, Valar Ventures, Tencent Holdings"
...,...,...,...,...,...,...,...
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,1.0,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,1.0,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,1.0,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,1.0,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [115]:
pd.DatetimeIndex(df1["Date Joined"]).year==2022

array([False, False, False, ...,  True,  True,  True])

In [117]:
(pd.DatetimeIndex(df1["Date Joined"]).year==2022).sum()

228

In [120]:
df1[(pd.DatetimeIndex(df1["Date Joined"]).year==2022)]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
16,Miro,17.5,1/5/2022,United States,San Francisco,Internet software & services,"Accel, AltaIR Capital, Technology Crossover Ve..."
55,KuCoin,10.0,5/10/2022,Seychelles,Victoria,Fintech,"IDG Capital, Matrix Partners China, Jump Crypto"
123,RELEX,5.7,2/17/2022,Finland,Helsinki,"Supply chain, logistics, & delivery","Blackstone, Technology Crossover Ventures, Sum..."
124,The Boring Company,5.7,4/20/2022,United States,Pflugerville,Other,"VY Capital, 8VC, Craft Ventures"
149,Qonto,5.0,1/11/2022,France,Paris,Fintech,"Alven Capital, Valar Ventures, Tencent Holdings"
...,...,...,...,...,...,...,...
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,1.0,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,1.0,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,1.0,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,1.0,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [121]:
df1[(pd.DatetimeIndex(df1["Date Joined"]).year==2020)]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
20,goPuff,15.00,10/8/2020,United States,Philadelphia,"Supply chain, logistics, & delivery","Accel, Softbank Group, Anthos Capital"
21,Yuanqi Senlin,15.00,3/1/2020,China,Beijing,Consumer & retail,"Sequoia Capital China, Longfor Capitalm, Gaoro..."
35,Xingsheng Selected,12.00,7/22/2020,China,Changsha,E-commerce & direct-to-consumer,"KKR, Tencent Holdings, Sequoia Capital China"
40,Rippling,11.25,8/4/2020,United States,San Francisco,Internet software & services,"Initialized Capital, Y Combinator, Kleiner Per..."
47,Figma,10.00,4/30/2020,United States,San Francisco,Internet software & services,"Index Ventures, Greylock Partners, Kleiner Per..."
...,...,...,...,...,...,...,...
982,Zwift,1.00,9/16/2020,United States,Long Beach,E-commerce & direct-to-consumer,"Novator Partners, True, Causeway Media Partners"
983,Playco,1.00,9/21/2020,Japan,Tokyo,Other,"Sozo Ventures, Caffeinated Capital, Sequoia Ca..."
984,Socar,1.07,10/16/2020,South Korea,Jeju-do,Auto & transportation,"Bain Capital, Altos Ventures, Songhyun Investment"
985,Gousto,1.70,11/3/2020,United Kingdom,London,"Supply chain, logistics, & delivery","MMC Ventures, BGF Ventures, Unilever Ventures"
986,Boom Supersonic,1.00,12/16/2020,United States,Englewood,Other,"WRVI Capital, Caffeinated Capital, Y Combinator"

In [122]:
df1[(pd.DatetimeIndex(df1["Date Joined"]).year==2022)].shape

(228, 7)

In [123]:
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,1.0,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,1.0,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,1.0,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,1.0,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [124]:
pd.DatetimeIndex(df1["Date Joined"])==2022

array([False, False, False, ..., False, False, False])

In [125]:
(pd.DatetimeIndex(df1["Date Joined"])==2022).sum()

0

In [126]:
(pd.DatetimeIndex(df1["Date Joined"]).year==2022).sum()

228

In [127]:
df3=df1[df1["Country"]=="India"]

In [128]:
df3

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
13,BYJU's,22.0,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S..."
45,Swiggy,10.7,6/21/2018,India,Bengaluru,"Supply chain, logistics, & delivery","Accel India, SAIF Partners, Norwest Venture Pa..."
64,OYO Rooms,9.0,9/25/2018,India,Gurugram,Travel,"SoftBank Group, Sequoia Capital India,Lightspe..."
78,Dream11,8.0,4/9/2019,India,Mumbai,Internet software & services,"Kaalari Capital, Tencent Holdings, Steadview C..."
86,Razorpay,7.5,10/11/2020,India,Bengaluru,Fintech,"Sequoia Capital India, Tiger Global Management..."
...,...,...,...,...,...,...,...
1134,Darwinbox,1.0,1/25/2022,India,Hyderabad,Internet software & services,"Lightspeed India Partners, Sequoia Capital Ind..."
1145,Hasura,1.0,2/22/2022,India,Bengaluru,Internet software & services,"Nexus Venture Partners, Vertex Ventures, STRIVE"
1154,Amagi,1.0,3/16/2022,India,Bengaluru,Internet software & services,"Mayfield, Accel, Norwest Venture Partners"
1171,Open,1.0,5/2/2022,India,Bengaluru,Fintech,"3one4 Capital Partners, Tiger Global Managemen..."
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."

In [129]:
(pd.DatetimeIndex(df3["Date Joined"]).year==2022).sum()

17